*{
    box-sizing: border-box;
}
.home{
    height: 100vh;
}
.user-img{
    height: 32px;
    width: 32px;
}
.img-bg{
    background-color: rgb(104, 104, 108);
    padding: 5px;
    border-radius: 20px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -200px; /* Start with the sidebar hidden */
  width: 200px;
  height: 100vh;
  background-color: #f1f1f1;
  transition: left 0.3s ease;
}

#sidebar.active {
  left: 0; /* Show the sidebar */
}

#content {
  margin-left: 200px; /* Adjust the margin to accommodate the sidebar width */
  padding: 20px;
}
.cancel{
    width: 20px;
    height: 20px;
}
.bird{
    width: 32px;
    height: 32px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
    background-color: red;
}
.hovering:hover{
    background-color: red;

}
